---
content: markdown/san_remo.md
wideimg: san_remo.jpeg
title: The San Remo
---

<div class="container">

  {{> wideimg }}

  {{> menu }}
  
  <section>
    <h2>{{ title }}</h2>
    {{{ md content }}}
  </section>

</div>
